
    <header class="header-psicologia">
        <!-- <?php require_once 'includes/menu.php'?> -->
        <div class="bloque-frases-psicologia">
            <p>Ayuda <br>Psicologica</p>
        </div>
        <div class="imagen"></div>
    </header>

    

    <section class="main">
        <section class="cita">
            <div class="informacion-imagen row">
                <div class="col-md-6">
                    <div class="imagen-psicologa">
                        
                    </div>
                </div>
                <div class="col-md-6">
                    <h2>Recupera tu bienestar</h2>
                    <p>Si tienes dudas, necesitas consejos o tienes sensaciones constantes de ansiedad, 
                        estrés o tristeza, contamos con servicios de atención brindada por los mejores 
                        psicólogos, ellos pueden darte orientación profesional y aconsejarte para tomar 
                        decisiones mas favorables para tu bienestar, siempre que lo requieras.
                    </p>
                    <a href="">
                        <div class="boton-agendar">
                            <h3 class="no-margin">AGENDA UNA CITA <br>GRATUITA</h3>
                        </div>
                    </a>
                </div>
            </div>
        </section>
        <section class="paquetes">
            <h2>Nuestros Paquetes</h2>
            <div class="bloques-paquetes row no-margin no-padding">
                <div class="col-md-4 no-padding">
                    <div class="caja-azul">
                        <h3>Basico</h3>
                        Consulta por videollamada <br> 30 minutos<hr> Evaluacion <hr> Objetivos <hr> Lunes a viernes <br> 8 a 21hrs 
                        <div class="boton-anadir">
                            <!-- <a href="http://localhost/master-php/silkworth/libros-descripcion.php?id=21"><p>AÑADIR</p></a> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-4 no-padding">
                    <div class="caja-amarilla">
                        <h3>PREMIUM</h3>
                        <p>Consulta por videollamada </p> <br> 1 hora<hr> <p>Evaluacion</p><hr><p>Objetivos</p><hr><p>Valoracion de caso</p><hr><p>Seguimineto de objetivos</p><hr><p>Toda la semana <br> 8 a 21hrs</p>
                        <div class="boton-anadir">
                            <!-- <a href="http://localhost/master-php/silkworth/libros-descripcion.php?id=20"><p>AÑADIR</p></a> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-4 no-padding">
                    <div class="caja-azul">
                        <h3>STANDARD</h3>
                        <p>Consulta por videollamada </p><br> 45 hora<hr> Evaluacion <hr> Objetivos <hr> Valoracion de caso <hr> Lunes a savado <br> 8 a 21hrs 
                        <div class="boton-anadir">
                            <!-- <a href="http://localhost/master-php/silkworth/libros-descripcion.php?id=22"><p>AÑADIR</p></a> -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
       
    </section>
