<div class="contenedor-logo-menu">

    <div class="logo-silkworth">
        <a href="/inicio">Silkworth</a>
    </div>
    <div class="opciones">
        <ul>
            <li><a routerLink="inicio">INICIO</a></li>
            <li><a routerLink="/psicologia">PSICOLOGICA</a></li>
            <li><a routerLink="/libross">LIBROS</a></li>
            <li><a routerLink="/meditacion">MEDITACIONES</a></li>
            <li><a routerLink="mostrar_carrito">CARRITO</a></li>
        </ul>
        
        
    </div>
        
        
        
    
</div>