.row{

    margin: 0;
}
.header-index{
    background-image: url(./benjamin-davies-JrZ1yE1PjQ0-unsplash.jpg);
    background-size: cover;
    background-position: center 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 450px;
    .bloque-logo-slogan{
        display: block;
        float: right;
        width: 48.002%;
        margin: 100px 0;
        img{
            background-image: url(./logo1.png);
            background-size: cover;
            background-position: center 0;
            background-repeat: no-repeat;
            float: right;
            width: 14.0%;
            height: 10%;
        }
        p{
            color: white;
            font-size: 32px;
            text-align: end;
            margin-bottom: unset;
        }
    }
}
.nosotros{
    .caja-nosotros{
        text-align: center;
        background-color: #38BABC;
        width: 100%;
        height: 60px;
        padding: 12px 0;
    }
    .container-fluid{
        padding: 60px 25px;
        img{
            background-image: url(./campaign-creators-gMsnXqILjp4-unsplash.jpg);
            width: 100%;
        }
        h3{
            text-align: center;
        }
        .imagen-nosotros{
            background-image: url(./nosotros-icono.png);
            background-repeat: no-repeat;
            width: 10%;
            height: 16%;
            display: block;
            margin: auto;
            border: none;
        }
        .imagen-mision{
            background-image: url(./mision-icono.png);
            background-repeat: no-repeat;
            width: 10%;
            height: 16%;
            display: block;
            margin: auto;
            border: none;
        }
        .nosotros-titulo{
            color: #efab0c;
        }
        .nosotros-titulo-mision{
            color: #d70777;
        }
        .nosotros-titulo-vision{
            color: #39bbbd;
        }
        p{
            text-align: center;
            font-weight: bold;
        }
    }
}
.servicios{
    background-image: url(./matteo-di-iorio-VD-Vjc8VmRA-unsplash.jpg);
    background-size: cover;
    background-position: center 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 450px;
    .caja-servicios{
        text-align: center;
        background-color: #d70777;
        width: 100%;
        height: 60px;
        padding: 12px 0;
    }

    .tres-cajas{
        .container{          
            margin: auto;
        }
        .borde-rosa{

            border: 2px solid #DB0074;
        }
        .borde-amarillo{
            border: 2px solid #EBAC11;
            
        }
        .borde-azul{
            border: 2px solid #38BABC;

        }
        .productosyservicios{
            margin: 60px 0;
            background-color: #ffffffa6;
            border-radius: 30px;
            width: 100%;
            height: 260px;
            transition: 1.5s ease;
             -moz-transition: 1.5s ease; /* Firefox */
            .imagen-servicio{
                display: flex;
                img{
                    justify-content: center;
                    align-items: center;
                    border-radius: 185px;
                    margin: 20px 0;
                    background-size: cover;
                    background-position: center 0;
                    background-repeat: no-repeat;
                    width: 100%;
                    height: 210px;
                }
                p{
                    font-size: 30px;
                    text-align: center;
                    margin-top: 20px;
                }
                .boton-vermas{
                    width: 65.2%;
                    height: 65px;
                    background-color: #DB0074;
                    margin-top: 50px;
                    margin-left: 17%;
                    border-radius: 10px;
                    border: 1px solid #707070;
                    
                    p{
                        color: white;
                        font-size: 20px;
                        margin-top: 15px;
                        text-align: center;
                    }&:hover{
                        background-color: #2979CD;
                    }
                }
                a{
                    text-decoration: none;
                }
                .fondo-amarillo{
                    background-color: #EBAC11;
                }
                .fondo-azul{
                    background-color: #38BABC;
                }
            }
            &:hover{
                transform: scale(1.1);
            }
        }
    }
}
.contacto{
    .caja-contacto{
        text-align: center;
        background-color: #EBAC11;
        width: 100%;
        height: 60px;
        padding: 12px 0;
    }
    .contenedor-contactanos{
        background-color: currentcolor;
        .caja-contactanos{
            width: 90%;
            background-color: #38babcc2;
            margin: 60px 0;
            height: 460px;
            padding: 4%;
            margin-left: 10%;
            border-radius: 10px 0 0 10px;
        }
    }
    .caja-numeros{
        background-color: #DB0074;
        width: 90%;
        height: 140px;
        padding: 1% 0;
        text-align: center;
        font-size: 30px;
        margin-top: 9.233%;
        border-radius: 0 10px 0 0;
    }
    .mapa{
        margin-top: 30px;
        border-radius: 0 0 10px 0;
    }
}

.motivacion{
    background-image: url(./alex-radelich-2gYsZUmockw-unsplash.jpg);
    background-size: cover;
    background-position: center 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 450px;
    .frase{
        text-align: center;
        padding: 190px 0px;
        color: blue;
        
        h1{
            background-color: #ffffffa6;
            border-bottom: 1px solid black;
            border-top: 1px solid black;
        }
    }
}