<div class="header-index">
    <div class="bloque-logo-slogan">
        <img src="./logo1.png" alt="">
        <p>Centro de tratamiento para conductas<br> autodestructivas</p>
    </div>
</div>

<div class="nosotros">
    <div class="caja-nosotros">
        <h2>NOSOTROS</h2>
    </div>
    <div class="container-fluid">
        <div class=" row">
            <div class="col-md-4">
                <img src="./campaign-creators-gMsnXqILjp4-unsplash.jpg" alt="">
            </div>
            <div class="col-md-8">
                <div class="imagen-nosotros">
                    <img src="./nosotros-icono.png" alt="">
                </div>
                <h3 class="nosotros-titulo">Sobre silkworth</h3>
                <p>Somos un centro de tratamiento interesados en la ayuda a personas con problemas de alcohol, drogadicción y problemas emocionales e alimenticios.</p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="imagen-mision">
                            <img src="./assets/img/mision-icono.jpg" alt="">
                        </div>
                        <h3 class="nosotros-titulo-mision">Mision</h3>
                        <p>Nuestra mision es presentar el mejor servicio y oportunidades para el tratamiento de conductas autodestructivas, siendo una empresa reconocida por su amplio conocimiento en la materia y gran renombre en el campo de la psiquiatria.</p>
                    </div>
                    <div class="col-md-6">
                        <div class="imagen-nosotros">
                            <img src="./assets/img/nosotros-icono.png" alt="">
                        </div>
                        <h3 class="nosotros-titulo-vision">Vision</h3>
                        <p>Nuestra vison es alcanzar un nivel de renombre internacional en el ambito de tratamientos alternativos, ser reconocidos por el nivel de calidad y confianza en el servicio y fomentar la idea de tratamiento seguro.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="servicios">
    <div class="caja-servicios">
        <h2>SERVICIOS</h2>
    </div>
    <div class="container" style="margin: auto;">
        <div class="tres-cajas row ">
            <div class="col-md-4">
                <div class="productosyservicios borde-rosa row ">
                    <div class="imagen-servicio"> 
                        <div class="col-md-5">  
                            <img src="./assets/img/matheus-ferrero-pg_WCHWSdT8-unsplash.jpg" alt="">
                        </div>
                        <div class="col-md-7">
                            <p>Ayuda psicologica</p>
                            
                                <div class="boton-vermas">
                                <a href="" routerLink="/psicologia"><p>Ver Mas</p></a>
                                </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="productosyservicios borde-amarillo row">
                    <div class="imagen-servicio ">
                        <div class="col-md-5">
                            <img src="./assets/img/annelies-geneyn-bhBONc07WsI-unsplash.jpg" alt="">
                        </div>
                        <div class="col-md-7">
                            <p>Libros de autoayuda</p>
                            
                            <a href="" routerLink="/libross" >
                                <div class="boton-vermas fondo-amarillo">
                                    <p>Ver Mas</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="productosyservicios borde-azul row">
                    <div class="imagen-servicio">
                        <div class="col-md-5">  
                            <img src="./assets/img/jared-rice-NTyBbu66_SI-unsplash.jpg" alt="">
                        </div>
                        <div class="col-md-7">
                            <p>Meditación guiada</p>
                            
                                <div class="boton-vermas fondo-azul">
                                <a href="" routerLink="/meditacion"><p>Ver Mas</p></a>
                                </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="contacto">
    <div class="caja-contacto">
        <h2>CONTACTO</h2>
    </div>
    <div class="contenedor-contactanos row">
        <div class="col-md-6">
            <div class="caja-contactanos">
                <form action="http://localhost/master-php/silkworth/vistas/mensaje" method="POST">
                    <div class="form-group">
                        <label for="formGroupExampleInput">Nombre*</label>
                        <input type="text" class="form-control" name="nombre" placeholder="Tu nombre" required>
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">Numero de telefono*</label>
                        <input type="text" class="form-control" name="telefono" placeholder="Numero de telefono (opcional)" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email* </label>
                        <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Correo electronico" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Mensaje</label>
                        <textarea class="form-control" name="mensaje" rows="3" ></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <div class="caja-numeros">
                <p>Numeros de contancto <br>(33) 2016-5741<br>(33) 2016-5742</p>
            </div>
            <div class="mapa">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1868.5058147847271!2d-103.9542563420305!3d20.505749508829023!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjDCsDMwJzIwLjciTiAxMDPCsDU3JzExLjQiVw!5e0!3m2!1ses!2smx!4v1593036490410!5m2!1ses!2smx" width="580" height="290" frameborder="0" style="border-radius: 0 0 10px 0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>
    </div>
</div>

<div class="motivacion">
    <div class="frase">
        <i><h1>"Insistir, persistir, resistir y nunca desistir"</h1></i>
    </div>
</div>