<!-- <?php

session_start();
require_once 'includes/conexion.php';
require_once 'config/db.php';
include_once 'includes/helpers.php';
require_once 'config/parameters.php';
require_once 'helpers/utils.php';
require_once 'models/pedido.php';

Utils::isIdentity();
        
$usuario_id = $_SESSION['identity']->id;
$pedido = new Pedido();

//Sacamos los pedidos del usuario
$pedido->setUsuario_id($usuario_id);
$pedidos = $pedido->getAllByUser();

?>

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto</title>
    <link rel="stylesheet" type="text/css" href="./assets/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="js/script.js"></script>
</head>
<body>
<header class="header-meditacion">
        <?php require_once 'includes/menu.php'?>
    </header> -->

    <section class="main">
        <div class="datos-mis-pedidos">
            <h1>Mis pedidos</h1><hr>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">N° PEDIDO</th>
                    <th scope="col">COSTE</th>
                    <th scope="col">FECHA</th>
                    <th scope="col">STATUS</th>
                </tr>
            </thead>
            <tbody>
            <?php while($ped = $pedidos->fetch_object()): ?>

                <tr>
                    <td><a href="http://localhost/master-php/silkworth/detalle-pedido.php?id=<?=$ped->id?>"><?=$ped->id?></a></td>
                    <td>$<?=$ped->coste?></td>
                    <td><?=$ped->fecha?></td>
                    <td><?=Utils::showStatus($ped->estatus) ?></td>
                    
                </tr>
            <?php endwhile; ?>
            </tbody>
        </table>
    </div>


        
    </section>
    

    
<!-- </body> -->