<header class="header-libros-descripcion">
    <!-- <?php require_once 'includes/menu.php'?> -->
        <div class="bloque-descripcion-libros row sinpadding">
        
            <div class="col-md-4" style="padding-left: 0px;padding-right: 0px; padding-left: 0px;
            padding-right: 0px;  ">
                <img src="./assets/img/musica/sleepsong.jpg" alt="Imagen-libro">
            </div>
            <div class="col-md-5" style="
            padding-left: 0px;
            padding-right: 0px;">
                
                <div class="info-libro ">
                    <h2>All Saint</h2>
                        <p>Codigo de articulo: 15946<br> Artista: Pure Shore</p>
                        <p>Duración: 4:16</p>
                </div>
                <div class="sinopsis mce-text-center">
                    <h2>Sinopsis</h2>
                    <p>Como suele suceder con este tipo de experimentos, las conclusiones son debatibles. Y más aún tratándose de la capacidad de relajación que cada uno pueda tener dependiendo de qué sonidos. Personalmente, creo que cada uno responde de una forma diferente ante cualquier canción.</p>
                </div>
            </div>
            <div class="col-md-3" style="
            padding-left: 0px;
            padding-right: 0px;">
                <div class="libro-precio-anadir">
                    <p class="precio">$15</p>
                    <p class="stock">En stock </p>
                    <a >
                    <!-- <a href="http://localhost/master-php/silkworth/carrito/add&id=<?=$libros['id']?>"> -->
                        <div (click)="mostrarAlert()" class="boton-anadir">
                            <p class="anadir">Añadir al carrito</p>
                        </div>
                    </a>
                    <p class="tambien-disponible">También disponible en ePub</p>
                </div>
            </div>
        
        </div>
    </header>
