.header-meditacion{
    background-image: url(../../../assets/img/photo-1524511498335-b0ed6b8e9a69.jpg);
    background-size: cover;
    background-position: center 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-width: 1349px;
    height: 500px;
    .bloque-frases{
        margin: 0;
        padding-top: 50px;
        p{
            color: white;
            text-align: center;
            font-size: 50px;
            margin-bottom: 25%;
        }
    }
}

.titulo-meditacion{
    margin: 0 3.707%;
    margin-top: 40px;
    color: black;
    font-size: 30px;
    hr{
        background-color: black;
        height: 2px;
    }
}

.seccion-meditacion{
    width: 93%;
    margin: 0 auto;
    display: flex;
    text-decoration: none;
    flex-direction: none;
    flex-wrap: wrap;
    justify-content: space-around;
    .bloques-meditacion{
        margin-bottom: 40px;
        width: 30%;
        a{
            text-decoration: none;
            .bloque-musica{
                width: 100%;
                height: 180px;
                background-image: url(../../../assets/img/jon-moore-5fIoyoKlz7A-unsplash.jpg);
                background-size: cover;
                background-position: center 0;
                background-repeat: no-repeat;
                border-radius: 0 20px 20px 0;
                padding-right: 2%;
                img{
                    width: 100px;
                    height: 100px;
                    border-radius: 5%;
                    background-size: cover;
                    background-position: center 0;
                    background-repeat: no-repeat;
                    margin: 40px 13px
                }
                .informacion{
                    background-image: url(../../../assets/img/diego-passadori-e6frrz-kh-0-unsplash.jpg);
                    background-size: cover;
                    background-position: center 0;
                    background-repeat: no-repeat;
                    width: 100%;
                    height: 78%;
                    margin: 9% 0;
                    border-radius: 0 20px 20px 0;
                    padding: 4%;
                    p{
                        color: white;
                        font-weight: bold;
                        line-height: 1%;
                        line-height: 26px;
                        margin: auto;
                    }
                }
            }
        }
    }
}