<header class="header-meditacion">
<div class="bloque-frases row sinpadding">
    <div class="col-md-6">
        <p>Sirve <br> Ama <br> Da</p>
    </div>
    <div class="col-md-6">
        <p>Purifícate <br>Medita <br>Realízate</p>
    </div>
</div>
</header>
<section class="main">

    <div class="titulo-meditacion">
        <h2>Musica para meditar</h2>
        <hr>
    </div>

    <div class="seccion-meditacion">
        <!-- <?php 
        if(!empty($meditaciones)):
            while($meditacion = mysqli_fetch_assoc($meditaciones)): 
        ?> -->
        <section class="bloques-meditacion">
            <a routerLink="meditacion">
                <div class="bloque-musica row no-margin">
                    <div class="col-md-4 no-padding">
                        <img src="./assets/img/musica/61++5f-jQHL._SS500_.jpg" alt="">
                        
                    </div>
                    <div class="col-md-8 no-padding">
                    <div class="informacion">
                        <p>Titulo: Rainy Day<br>Artista: Marconi Union<br>Duracion: 3:45<br>Precio: $15</p>
                    </div>
                    </div>
                </div>
            </a>
        </section>
        <section class="bloques-meditacion">
            <a routerLink="meditacion-descripcion">
                <div class="bloque-musica row no-margin">
                    <div class="col-md-4 no-padding">
                        <img src="./assets/img/musica/500x500.jpg" alt="">
                        
                    </div>
                    <div class="col-md-8 no-padding">
                    <div class="informacion">
                        <p>Titulo: Canzonetta Sull'aria<br>Artista: Mozart <br>Duracion: 8:45<br>Precio: $15</p>
                    </div>
                    </div>
                </div>
            </a>
        </section>
        <section class="bloques-meditacion">
            <a routerLink="meditacion-descripcion">
                <div class="bloque-musica row no-margin">
                    <div class="col-md-4 no-padding">
                        <img src="./assets/img/musica/new-age.jpg" alt="">
                        
                    </div>
                    <div class="col-md-8 no-padding">
                    <div class="informacion">
                        <p>Titulo: Someone Like You<br>Artista: Adele<br>Duracion: 5:17<br>Precio: $15</p>
                    </div>
                    </div>
                </div>
            </a>
        </section>
        <section class="bloques-meditacion">
            <a routerLink="/meditacion-descripcion">
                <div class="bloque-musica row no-margin">
                    <div class="col-md-4 no-padding">
                        <img src="./assets/img/musica/sleepsong.jpg" alt="">
                        
                    </div>
                    <div class="col-md-8 no-padding">
                    <div class="informacion">
                        <p>Titulo: All Saints<br>Artista: Pure Shores<br>Duracion: 4:16<br>Precio: $15</p>
                    </div>
                    </div>
                </div>
            </a>
        </section>
        
        <section class="bloques-meditacion">
            <a routerLink="/meditacion-descripcion">
                <div class="bloque-musica row no-margin">
                    <div class="col-md-4 no-padding">
                        <img src="./assets/img/musica/new-age.jpg" alt="">
                        
                    </div>
                    <div class="col-md-8 no-padding">
                    <div class="informacion">
                        <p>Titulo: Strawberry Swing<br>Artista: Coldplay<br>Duracion: 4:55<br>Precio: $15</p>
                    </div>
                    </div>
                </div>
            </a>
        </section>
        <section class="bloques-meditacion">
            <a routerLink="/meditacion-descripcion">
                <div class="bloque-musica row no-margin">
                    <div class="col-md-4 no-padding">
                        <img src="./assets/img/musica/500x500.jpg" alt="">
                        
                    </div>
                    <div class="col-md-8 no-padding">
                    <div class="informacion">
                        <p>Titulo: Please Don't Go<br>Artista: Barcelona <br>Duracion: 7:15<br>Precio: $15</p>
                    </div>
                    </div>
                </div>
            </a>
        </section>
        <section class="bloques-meditacion">
            <a routerLink="/meditacion-descripcion">
                <div class="bloque-musica row no-margin">
                    <div class="col-md-4 no-padding">
                        <img src="./assets/img/musica/surchi.jpg" alt="">
                        
                    </div>
                    <div class="col-md-8 no-padding">
                    <div class="informacion">
                        <p>Titulo: Enya <br>Artista: Watermark<br>Duracion: 5:15<br>Precio: $15</p>
                    </div>
                    </div>
                </div>
            </a>
        </section>
        <section class="bloques-meditacion">
            <a routerLink="/meditacion-descripcion">
                <div class="bloque-musica row no-margin">
                    <div class="col-md-4 no-padding">
                        <img src="./assets/img/musica/sleepsong.jpg" alt="">
                        
                    </div>
                    <div class="col-md-8 no-padding">
                    <div class="informacion">
                        <p>Titulo: Mellomaniac<br>Artista: DJ Shah<br>Duracion: 5:43<br>Precio: $15</p>
                    </div>
                    </div>
                </div>
            </a>
        </section>
        <section class="bloques-meditacion">
            <a routerLink="/meditacion-descripcion">
                <div class="bloque-musica row no-margin">
                    <div class="col-md-4 no-padding">
                        <img src="./assets/img/musica/surchi.jpg" alt="">
                        
                    </div>
                    <div class="col-md-8 no-padding">
                    <div class="informacion">
                        <p>Titulo: Electra<br>Artista: Airstream <br>Duracion: 7:52<br>Precio: $15</p>
                    </div>
                    </div>
                </div>
            </a>
        </section>
        
        
        <!-- <?php
            endwhile;
        endif;
        ?> -->
    </div>
    
</section>