<div class="footer">


    <div class="container-fluid">
        <div class=" row">
            <div class="col-md-4">
                <div class="rutas">
                    <h2>Rutas</h2>
                    <ul>
                        <a href="" routerLink="/psicologia"><li>Ayuda psicologica</li></a>
                        <a href="" routerLink="/libros"><li>libros de autoayuda</li></a>
                        <a href="" routerLink="/meditacion"><li>Meditacion guiada</li></a>
                        <a href=""><li>Nosotros</li></a>
                        <a href=""><li>Servicios</li></a>
                        <a href=""><li>Contacto</li></a>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="redes-sociales">
                    <h2>Redes Sociales</h2>
                    <a href="https://www.facebook.com/Silkworth-102083555030503"><img src="./assets/img/facebook.png" alt=""></a>
                    <a href="https://www.instagram.com/silkworthnet12/"><img src="./assets/img/instagram.png" alt=""></a>
                    <a href=""><img src="./assets/img/whatsapp.png" alt=""></a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="inicia">
                    <h2>Inicia sesion o Registrate</h2>
                    <div class="inicia-sesion">
                    </div>
                    <div class="registra">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="copyright">
    <p>&copy; Silkworth 2020 - Disdev<p>
</div>